<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To excel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Surname</ion-col>
      <ion-col>Gender</ion-col>
      <ion-col>Age</ion-col>
    </ion-row>
    <ion-row *ngFor="let user of users  ">
     <ion-col>{{user.name}}</ion-col>
     <ion-col>{{user.surname}}</ion-col>
     <ion-col>{{user.gender}}</ion-col>
     <ion-col>{{user.age}}</ion-col>
   </ion-row>
  </ion-grid>
<ion-button color="success" expand="block" (click)="exportToExcel()">Export to Excel</ion-button>
</ion-content>
